# Bash configuration for Apache Derby
# Source this from a bash shell with '.' or 'source'

derby=/home/csunix/se20/tools/derby/lib
derby_jars=$derby/derby.jar:\
$derby/derbyclient.jar:\
$derby/derbynet.jar:\
$derby/derbytools.jar

if [ -z "$CLASSPATH" ]
then
  export CLASSPATH=.:$derby_jars
else
  CLASSPATH=$CLASSPATH:$derby_jars
fi

unset derby
unset derby_jars
